<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TravelComfy Flight Search Engine</title>
<link rel="stylesheet" href="/styles/site.min.css">
<link rel="stylesheet" href="/js/libs/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css">
<script src="/js/libs/vendor/requirejs/require.js" data-main="js/main"></script>