<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">
    <header class="main-header">
        <h1>TravelComfy: Flight Search Engine</h1>
    </header>
    <div class="main-container">
        <h2 style="text-align: center">Page Not Found</h2>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>